[submodule "libraries/raylib"]
	path = libraries/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "libraries/yaml-cpp"]
	path = libraries/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "libraries/json"]
	path = libraries/json
	url = https://github.com/nlohmann/json.git
